* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(53, 53, 53, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
